{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
        </a>

        <article class="error404 article">
                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404">
                            <h1>4<span>0</span>4</h1>
                        </div>
                        <h2>the page you requested could not be found</h2>
                        <!--<form class="notfound-search">
                            <input type="text" placeholder="Search...">
                            <button type="button"><span></span></button>
                        </form>-->
                    </div>
                </div>
        </article>
    </div>
</div>
{{ end }}
